
        body {
            font-family: 'Orbitron', sans-serif;
            background-image: url('fondo\ halo.jpg'); /* Reemplaza con una imagen de fondo temática de Halo */
            background-size: cover;
            background-position: center;
            color: #d4d4d4;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: rgba(52, 58, 64, 0.9);
            padding: 20px;
            text-align: center;
        }
        header h1 {
            margin: 0;
            font-size: 3rem;
        }
        main {
            padding: 20px;
        }
        .btn-custom {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-custom:hover {
            background-color: #0056b3;
        }
        .main-image {
            margin: 20px auto;
            display: block;
            max-width: 50%;
            height: auto;
            border: 5px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
        }
        .section-title {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        /* Estilos de Navegación */
       .nav-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    .nav-toggle {
        background-color: #0b3d91;
        color: white;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .nav-toggle:hover {
        transform: rotate(90deg);
    }

    .nav-menu {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        width: 200px;
    }

    .nav-toggle:focus + .nav-menu,
    .nav-menu:hover {
        max-height: 300px;
        opacity: 1;
    }

    .nav-menu a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: #0b3d91;
        transition: background-color 0.3s ease;
    }

    .nav-menu a:hover {
        background-color: #f0f0f0;
    }
